# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt
.toast
.lucid
.precision
*.egg-info/
.installed.cfg
*.egg
build/
dist/

# Env
.env
.env.local
.env.*.local

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
